.count {
    h2 {
        display: inline-block;
        padding: 0 40px;
    }

    button {
        border: none;
        outline: none;
        padding: 5px 20px 7px;
        vertical-align: middle;
        background: #00D8FF;
        font-size: 28px;
        color: #222;
        cursor: pointer;
    }
}
