main.home {
    padding: 100px 0;
    text-align: center;

    h1 {
        margin: 20px 0;
    }
    ul {
        margin-bottom: 30px;

        li {
            display: inline-block;
            margin-left: 20px;

            &:last-child {
                margin-left: 0;
            }
        }
    }
    a {
        color: inherit;
    }
}
